/************************************************************/

//                      0px - max                         //  

/************************************************************/


// Estilos para eliminar el tap highlight en móviles.
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */
}
html{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: @black-patacona;
    overflow-x: hidden; 
}

.owl-carousel {
    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
    
        .owl-dot {
            border: 1px solid @black-patacona;
            border-radius: 50px;
            background: transparent;
            width: 16px;
            height: 16px;
            margin: 15px 3px;
            transition: 0.3s ease-in-out;                        
    
            &.active {
                background: @gold-patacona;
                transition: 0.3s ease-in-out;                        
            }
        }
    }
    .image-container {
        height: 100%;
        height: 300px;
        overflow: hidden;

        a {
            height: 100%;
            display: block;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}


.menu-brands-holder {
    display: none;
}

header#masthead {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    .site-branding {
        svg {
            fill: #fff;
        }
    }

    .main-navigation {
        flex-basis: 65%;
        display: none;
        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            
            li {
                margin-right: 5%;
                a {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }

            .brands-dropdown {
                position: relative;
                padding: 15px 0;
                .menu-brands-holder {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: @black-patacona;
                    padding: 30px 15px;
                    width: 130%;
                    border-radius: 20px;
                    li {
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom: 30px;

                        img{
                            width: 100%;
                            height: auto;
                            display: block;
                            margin: 0 auto;
    
                        }

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            
        }
    }

    #burger {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bar {
            position: relative;
            width: 80%;
            margin: 0 auto;
            height: 3px;
            background-color: white;
            margin-bottom: 3px;
            transition: 0.3s linear all;

            &:nth-child(1) {
                transform: rotate(0deg);
            }
            &:nth-child(2) {
                transform: rotate(0deg);
            }
            &:nth-child(3) {
                display: block;
            }

            
        }

        &.open {
            .bar {
                transition: 0.3s linear all;
                &:nth-child(1) {
                    transform: translateY(-50%) rotate(45deg);
                    // transform-origin: center;
                    top: 15%;
                }
                &:nth-child(2) {
                    transform: translateY(-50%) rotate(-45deg);
                    // transform-origin: center;
                    top: -5%;
                }
                &:nth-child(3) {
                    display: none;    
                }
            }
        }
    }


    &.black-menu {
        .site-branding {
            svg {
                fill: @black-patacona;
            }
        }
        .main-navigation {
            .menu {
                li {
                    a {
                        color: @black-patacona;
                    }
                }
            }
        }
        #burger {
            .bar {
                background-color: @black-patacona;

            }   
        }
    }
}



.menu-mobile-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color:  @black-patacona;
    z-index: 1000;
    transform: translateX(100%);
    transition: 0.3s linear all;
    #mobile-navigation {
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: ~'calc(100% - 120px)';
        

        .menu-menu-principal-container {
            padding: 40px 0; 
            height: 100%;
            width: 90%;
            margin: 0 auto;
            overflow-y: scroll; 
            display: flex;
            justify-content: center;
            align-items: flex-start;
            ul.menu {
                height: auto;
                width: auto;
                margin: 0 auto;
                overflow: auto;
                li {
                    margin-bottom: 15px;
                    a {
                        color: white;
                        img{
                            max-width: 100px;
                            height: auto;
                        }
                    }
                }



                .menu-brands-holder {
                    ul {
                        padding: 30px 10px;
                        
                        li {
                            margin-bottom: 20px;

                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }          
        }

        
    }

    &.open {
        transform: translateX(0%);
        transition: 0.3s linear all;
    }
}

.main-container {
    &.home{
        .hero-header {
            width: 100%;
            height: 100vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            .text-block {
                position: absolute;
                left: 5%;
                bottom: 30%;

                >* {
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 10px;
                }
                h1 {
                    font-size: 38px;
                    font-weight: 900;
                    line-height: 1; 
                }

                h3{
                    font-size: 16px;
                    font-weight: 700;
                    color: @gold-patacona;
                    text-transform: uppercase;
                }

                .cta-button-holder {
                    a{
                        background: @gold-patacona;
                        padding: 10px 35px;
                        color: @black-patacona;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }            
        }

        .our-brands {
            margin: 100px auto;
            max-width: 1200px;
            width: 90%;

            .intro-text {
                margin-bottom: 40px;
                h2{
                    font-size: 24px;
                    font-weight: 700;
                    position: relative;
                    padding-bottom: 8px;

                    &::before {
                        content: '';
                        width: 75%;
                        max-width: 140px;
                        height: 3px;
                        background-color: @gold-patacona;
                        position: absolute;
                        left: 0%;
                        top: 110%;
                    }
                }
            }

            .brands-container-desktop {
                display: none;
            }

            .brand-box {
                flex-basis: 23%;
                margin: 2% 1%;
                margin-top: 0;
                height: 320px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                position: relative;

                .logo-holder {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .link-holder {
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 95%;
                    text-align: center;
                    a{
                        background: #fff;
                        padding: 10px 35px;
                        color: @black-patacona;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .cta-boxes {
            margin-top: 120px;
            .cta-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                max-width: 1200px;
                width: 90%;
                margin: 0 auto;
                position: relative;
                flex-wrap: wrap;
                margin-bottom: 30px;
                .image-holder {
                    position: relative;
                    flex-basis: 100%;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }

                .text-holder {
                    flex-basis: 100%;
                    position: relative;
                    .text-container {
                        background: @grey-patacona;
                        padding: 30px;
                        position: relative;
                        h2 {
                            font-size: 24px;
                            font-weight: 700;
                            display: inline;
                            position: relative;
                            padding-bottom: 8px;

                            &::before {
                                content: '';
                                width: 75%;
                                max-width: 140px;
                                height: 3px;
                                background-color: @gold-patacona;
                                position: absolute;
                                left: 0%;
                                top: 110%;
                            }
                        }

                        p {
                            margin-top: 30px;
                        }

                        .link-holder {
                            display: flex;
                            justify-content: flex-end;
                            margin-top: 20px;

                            a {
                                color: @gold-patacona;
                                font-size: 16px;
                                font-weight: 700;
                                text-transform: uppercase;
                                margin-right: 35px;
                                position: relative;

                                &::after {
                                    content: '';
                                    width: 25px;
                                    height: 18px;
                                    background-image: url('../img/arrow.svg');
                                    background-size: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    top: 50%;
                                    right: -30px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }

                
            }
        }
    }

    &.conocenos {
        .hero-header {
            height: 65vh;
            width: 100%;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            .text-block {
                left: 5%;
                bottom: 35%;
                transform: translate(0%, 50%);
                position: absolute;

                color: white;
                font-size: 20px;
                line-height: 1.2;

                h2{
                    text-transform: uppercase;
                    font-size: 38px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
            }
        }

        .main-text-container {
            margin: 75px auto;
            width: 90%;
            max-width: 1200px;

            .text-heading-holder {
                width: 65%;
                min-width: 280px;


                h2{
                    position: relative;
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 24px;

                    &::before {
                        content: '';
                        width: 75%;
                        height: 3px;
                        background-color: @gold-patacona;
                        position: absolute;
                        left: 0%;
                        top: 110%;
                    }
                }
            }

            .text-columns-holder {
                margin-top: 70px;

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-start;
                flex-wrap: wrap;

                .text-col {
                    flex-basis: 100%;
                    &:first-of-type{
                        margin-bottom: 5%;
                    }
                }
            }
        }

        .galery-container {
            background-color: @grey-patacona;
            width: 100%;
            padding: 30px;

            .gallery-holder {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;

                
            }
        }
    }

    &.marca-archive, &.ocasion {
        .hero-header {
            height: 55vh;
            width: 100%;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            .text-block {
                left: 5%;
                bottom: 35%;
                transform: translate(0%, 50%);
                position: absolute;

                color: white;
                font-size: 20px;
                line-height: 1.2;

                h2{
                    text-transform: uppercase;
                    font-size: 38px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
            }
            .buttons-holder {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .button {

                    flex-basis: 46%;
                    max-width: 240px;

                    background-color: @gold-patacona;
                    width: auto;
                    min-width: 170px;
                    padding: 10px 20px;
                    position: relative;
                    transform: translateY(50%);
                    border: 2px solid transparent;
                    text-align: center;
                    text-transform: uppercase;
                    color: white;
                    font-size: 16px;
                    font-weight: 700;

                    margin-bottom: 15px;

                    &:hover{
                        background-color: transparent;
                        border: 2px solid @gold-patacona;
                        transition: 0.3s linear all;
                    }

                    
                }
            }
            
        }
        
        .models-container {
            width: 90%;
            max-width: 1200px;
            margin: 70px auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .model {
                flex-basis: 90%;
                margin-bottom: 60px;

                .thumbnail-holder {
                    width: 100%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .info-container {
                    margin-top: 20px;
                    background-color: @grey-patacona;
                    text-align: center;
                    padding: 40px 30px;
                    padding-bottom: 0;

                    h2 {
                        font-size: 24px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: @black-patacona;
                    }

                    .button-container {
                        background-color: @gold-patacona;
                        width: 55%;
                        min-width: 150px;
                        padding: 10px 20px;
                        position: relative;
                        margin: 0 auto;
                        transform: translateY(50%);
                        p {
                            text-transform: uppercase;
                            color: white;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    &.marca-archive {
        .hero-header {
            height: auto!important;
            min-height: 55vh;

            .text-block {
                position: relative;
                padding-top: 100px;
                padding-bottom: 80px;
                transform: translate(0%, 0%);
                position: relative;
                width: 90%;
                max-width: 992px;
                color: white;
                font-size: 20px;
                line-height: 1.2;
                bottom: 0;
                left: 5%;

                h2{
                    text-transform: uppercase;
                    font-size: 38px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }

                .brand-description-container {
                    margin-top: 30px;
                    font-size: 18px;

                    >* {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    &.single-model {
        padding-top: 120px;
        .model-info {
            display:block;
            font-size: 0;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            .col {
                display: block;
                width: 90%;
                margin: 0 auto;
                font-size: 16px;
                &.col-images {
                    margin-bottom: 35px;

                    .color-gallery {
                        display: none;
                    }

                    .owl-thumbs {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;

                        .owl-thumb-item {
                            width: 70px;
                            height: auto;
                            border: none;
                            background-color: transparent;
                            opacity: 0.7;
                            transition: 0.3s ease-in-out;
                            img{
                                display: block;
                                width: 100%;
                                height: auto;
                            }

                            &.active {
                                opacity: 1;
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }
                } 

                &.col-info {
                    .main-product-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 20px;
                        flex-wrap: wrap;

                        .colors {
                            flex-basis: 100%;
                            display: flex;
                            margin-top: 15px;
                            .box {
                                cursor: pointer;
                                margin-right: 5px;
                                border: 1px solid @grey-patacona;
                                // padding: 0.5px;
                                height: 38px;
                                width: 38px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &.desactive {
                                    border-color: @grey-patacona !important;
                                }
                                .box-content {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }

                        .product-name {
                            h1 {
                                text-transform: uppercase;
                                font-size: 38px;
                                color: @black-patacona;
                                font-weight: 900;
                            }
                        }
                        .model-price-holder {
                            p {
                                font-size: 20px;
                                font-weight: 400;
                                color: @gold-patacona;
                                display: none;
                            }
                        }
                    }

                    .container-property {
                        .row-property {
                            margin-bottom: 15px;
                            cursor: pointer;
                            .title-property {
                                padding: 15px 20px;
                                background-color: @grey-patacona;
                                display: flex;
                                justify-content: space-between;
                                align-items: baseline;

                                h3 {
                                    font-size: 16px;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                                .plus-minus-toggle {
                                    position: relative;
                                    height: 16px;
                                    width: 16px;
                                    cursor: pointer;

                                    &::after {
                                        content: '';
                                        width: 16px;
                                        height: 2px;
                                        background-color: #222222;
                                        position: absolute;
                                        top: 50%;
                                        transform-origin: center;
                                        transform:rotate(0deg);
                                    }
    
                                    &::before {
                                        content: '';
                                        width: 16px;
                                        height: 2px;
                                        background-color: #222222;
                                        position: absolute;
                                        top: 50%;
                                        transform-origin: center;
                                        transform:rotate(0deg);
                                        transition: 0.3s ease-in;
                                    }

                                    &.collapsed {
                                        
                                        &::after {
                                            content: '';
                                            width: 16px;
                                            height: 2px;
                                            background-color: #222222;
                                            position: absolute;
                                            top: 50%;
                                            transform-origin: center;
                                            transform:rotate(0deg);
                                        }
        
                                        &::before {
                                            content: '';
                                            width: 16px;
                                            height: 2px;
                                            background-color: #222222;
                                            position: absolute;
                                            top: 50%;
                                            transform-origin: center;
                                            transform:rotate(90deg);
                                            transition: 0.3s ease-in;
                                        }
                                    }
                                }
                            }

                            

                            .dynamic-content {
                                display: none;
                                padding-top: 0;
                                // opacity: 0;
                                // height: 0;
                                overflow: hidden;

                                .row-value {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: baseline;
                                    padding: 0 15px;
                                    padding-bottom: 13px;

                                    p {
                                        &:first-child {
                                            font-weight: 700;
                                            text-align: left;
                                        }   
                                        &:last-child {
                                            text-align: right;
                                        }
                                    }

                                    &:first-child {
                                        padding-top: 13px;
                                    }
                                }

                                &.open {
                                    height: auto;
                                    padding-bottom: 15px
                                }
                            }
                        }
                    }

                    .legal-disclaimer-holder {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    .contact-buttons-holder {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-top: 30px;
                        text-align: center;

                        .button {
                            cursor: pointer;
                            padding: 15px 30px;
                            background-color: @gold-patacona;
                            border:2px solid @gold-patacona;
                            color: white;
                            transition: 0.3s linear all;
                            flex-basis: 100%;
                            margin-bottom: 10px;

                            &:hover{
                                background-color: white;
                                color: @gold-patacona;
                                transition: 0.3s linear all;
                            }

                            p {
                                margin: 0 auto;
                                display: inline-block;
                                font-size: 16px;
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                
            }
        }

        .model-gallery {
            margin-top: 100px;
            background-color: @grey-patacona;
            width: 100%;
            padding: 30px;

            .gallery {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;

                

                .owl-dots {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .owl-dot {
                        border: 1px solid @black-patacona;
                        border-radius: 50px;
                        background: transparent;
                        width: 16px;
                        height: 16px;
                        margin: 15px 3px;
                        transition: 0.3s ease-in-out;                        

                        &.active {
                            background: @gold-patacona;
                            transition: 0.3s ease-in-out;                        
                        }
                    }
                }
            } 
        }


        .related-models {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 150px;

            .related-models-title {
                margin-bottom: 35px;
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    position: relative;
                    &::before {
                        content: '';
                        width: 75%;
                        max-width: 140px;
                        height: 3px;
                        background-color: @gold-patacona;
                        position: absolute;
                        left: 0%;
                        top: 110%;
                    }
                }
            }

            .related-models-gallery {
                

                .model {
    
                    .thumbnail-holder {
                        width: 100%;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
    
                    .info-container {
                        margin-top: 20px;
                        background-color: @grey-patacona;
                        text-align: center;
                        padding: 40px 30px;
                        padding-bottom: 0;
                        margin-bottom: 35px;
    
                        h2 {
                            font-size: 24px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: @black-patacona;
                        }
    
                        .button-container {
                            background-color: @gold-patacona;
                            width: 55%;
                            min-width: 150px;
                            padding: 10px 20px;
                            position: relative;
                            margin: 0 auto;
                            transform: translateY(50%);
                            p {
                                text-transform: uppercase;
                                color: white;
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }
    
                    &:nth-child(3n-1) {
                        margin-left: 5%;
                        margin-right: 5%;
                    }
                }

                .owl-dots {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .owl-dot {
                        border: 1px solid @black-patacona;
                        border-radius: 50px;
                        background: transparent;
                        width: 16px;
                        height: 16px;
                        margin: 15px 3px;
                        transition: 0.3s ease-in-out;                        

                        &.active {
                            background: @gold-patacona;
                            transition: 0.3s ease-in-out;                        
                        }
                    }
                }
            } 
        }

    }

    &.ocasion {
        .hero-header {
            height: 80vh;
            max-height: 520px;
        }
    }

    &.blog {
        .hero-header {
            height: 55vh;
            width: 100%;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            .text-block {
                left: 5%;
                bottom: 35%;
                transform: translate(0%, 50%);
                position: absolute;

                color: white;
                font-size: 20px;
                line-height: 1.2;

                h1{
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
            }
        }

        .news-holder{
            margin: 75px auto;
            width: 90%;
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .post {
                flex-basis: 90%;
                color: @black-patacona;
                position: relative;

                .post-thumbnail{
                    width: 100%;
                    height: 40vh;
                    max-height: 320px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .post-excerpt-holder {
                    width: 90%;
                    padding: 30px 15px;
                    background: @grey-patacona;
                    position: relative;
                    transform: translateY(-50%);
                    margin: 0 auto;
                }

                .arrow {
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                    width: 25px;
                    height: auto;
                    display: block;
                }

                
            }
        }
    }

    &.blog-post{

        .hero-header {
            height: 45vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .post-info-holder {
                background-color: @grey-patacona;
                position: absolute;
                bottom: 0%;
                left: 2%;
                transform: translate(0%, 50%);
                padding: 30px;

                .title-holder {
                    font-size: 20px;
                    font-weight: 700;
                }
                .date-holder {
                    font-size: 16px;
                    font-weight: 400;
                    color: @gold-patacona;
                }
            }
        }

        .post-content {
            max-width: 1200px;
            width: 90%;
            margin: 120px auto;
            >* {
                margin-top: 10px;
            }
        }
        .navegacion {
            clear: both;
            width: 90%;
            max-width: 450px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
                flex-basis: 48%;
                .nav-bttn {
                    margin-top: 30px;
                    padding: 15px 30px;
                    background-color: @gold-patacona;
                    border:2px solid @gold-patacona;
                    color: white;
                    transition: 0.3s linear all;
                    &:hover{
                        background-color: white;
                        color: @gold-patacona;
                        transition: 0.3s linear all;
                    }
    
                    p {
                        margin: 0 auto;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
    
                }
                &:first-of-type {
                    margin-right: 2%
                }
                &:last-of-type {
                    margin-left: 2%
                }
            }
        }
    }

    &.contacto, &.service {
        .hero-header {
            height: 55vh;
            width: 100%;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            .text-block {
                left: 5%;
                bottom: 35%;
                transform: translate(0%, 50%);
                position: absolute;

                color: white;
                font-size: 20px;
                line-height: 1.2;

                h1{
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 900;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }
            }
        }

        .contacto-info-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 90%;
            max-width: 1200px;
            margin: 70px auto;

            .col {
                flex-basis: 95%;
                &.col-1 {
                    padding: 30px;
                    background-color: @grey-patacona;
                    .text-heading-holder {
                        h2{
                            position: relative;
                            font-size: 24px;
                            font-weight: 700;
                            padding-bottom: 8px;
        
                            &::before {
                                content: '';
                                width: 75%;
                                max-width: 130px;
                                height: 3px;
                                background-color: @gold-patacona;
                                position: absolute;
                                left: 0%;
                                top: 100%;
                            }
                        }
                    }
    
                    .address-holder {
                        margin-top: 40px;
                        font-weight: 700;
                        a {
                            font-weight: 700;
                            color: @black-patacona;
                        }

                        .rrss-holder {
                            margin-top: 25px;
                            a {
                                color: @gold-patacona;
                                font-size: 25px;
                                margin-right: 10px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                &.col-2 {
                    .wpcf7 {
                        margin-top: 50px;

                        p {
                            width: 100%;
                            margin-bottom: 4%;
                            input, textarea {
                                appearance: none;
                                -webkit-appearance: none; 
                                width: 100%;
                                padding: 15px;
                                border: 1px solid @grey-patacona;
                                resize: none;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                color: #222222;
                                border-radius: 0;
                                &::placeholder {
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #222222;
                                    opacity: 0.7;
                                }
                            }

                            input[type="submit"] {
                                background-color: @gold-patacona;
                                position: relative;
                                display: inline-block;
                                color: #ffffff;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 16px;
                                font-weight: 700;
                                text-transform: uppercase;
                                width: 195px;
                            }
                        }
                        .flex-holder {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            p{
                                width: 100%;
                            }
                        }

                    }
                }

                
            }
        }
        input[type="checkbox"] {
            -webkit-appearance: checkbox !important;
        }
        span.wpcf7-list-item {
            margin-left: 0px;
            label {
                display: flex;
                align-items: center;
                input {
                    width: auto !important;
                    margin-bottom: 2px;
                    margin-right: 5px;
                }
                span {
                    display: block;
                    opacity: 0.5;
                    color: #222222;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
} 


.transparencia {
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .3s ease;
	&.active {
		z-index: 900;
		opacity: 1;
		visibility: visible;
	}
}

.pop-up--form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    padding: 30px;
    width: 100%;
    max-width: 560px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear all;

    &.active {
        opacity: 1;
        visibility: visible;
        transition: 0.3s linear all;
    }

    .cross {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    form {
		max-height: ~'calc(100vh - 170px)';
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 10px;

        &::-webkit-scrollbar-track {
            /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)*/
            border-radius: 0;
            background-color: @grey-patacona;
        }
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #fff;
        }
            
        &::-webkit-scrollbar:horizontal {
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: @gold-patacona;
        }
        p {
            width: 100%;
            margin-bottom: 12px;

            input, textarea,  {
                padding: 15px;
                width: 100%;
                border: 1px solid @grey-patacona;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;


                &::placeholder{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                }
            }
            input[name="model"] {
                display: none;
            }
            input[type="submit"] {
                font-family: 'Open Sans', sans-serif;
                background-color: @gold-patacona;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                color: white;
            }
        }
        

        #file-upload{
            display: none;
        }
    }
    .wpcf7-acceptance{
        input[type="checkbox"] {
            appearance: none;
            display: none;
            visibility: hidden;
            opacity: 0;

            
            &+.wpcf7-list-item-label::after {
                content: none;
            }
            &:checked + .wpcf7-list-item-label::after {
                content: "";
            }
        }

        .wpcf7-list-item-label{
            font-size: 16px;
            font-weight: 400;
            margin-left: 15px;
            position: relative;
            cursor: pointer;
            color: @black-patacona;

            a{
                color: @gold-patacona;    
            }

            &::before{
                content: "";
                display: inline-block;
                height: 12px;
                width: 12px;
                border: 1px solid;
                position: absolute;
                top: 3px;
                left: -20px;
            }

            &::after {
                content: "";
                display: inline-block;
                height: 3px;
                width: 6px;
                border-left: 2px solid;
                border-bottom: 2px solid;
                position: absolute;
                top: 7px;
                left: -17px;
                transform: rotate(-45deg);
            }

        }
    }

    .fake-file-upload{
        padding: 15px;
        width: 100%;
        border: 1px solid @grey-patacona;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        cursor: pointer;
        p{
            margin: 0;
            margin-left: 5%;
        }
        &::after{
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-50%, -50%);
            background-image: url(../img/upload-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    .acceptance {
        margin-top: 10px;
        .check-container {
            text-align: left;
            display: block;
            position: relative;
            padding-left: 18px;
            cursor: pointer;
            color: @black-patacona;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            a {
                text-decoration: underline;
                color: @gold-patacona;
            }
        }   
        .check-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .check-container input:checked ~ .checkmark {
            background-color: transparent;
        }
        .check-container input:checked ~ .checkmark:after {
            display: block;
        }
        .check-container .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 13px;
            transition: all 0.5s ease;
            border-radius: 0;
            width: 13px;
            background-color: transparent;
            border: 1px solid @black-patacona;
        }
        .check-container .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .check-container .checkmark:after {
            left: 4px;
            top: 0px;
            width: 4px;
            height: 9px;
            border: solid @black-patacona;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .wpcf7-response-output {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }
}



footer {
    margin-top: 90px;
    padding: 20px 40px;
    .flex-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .col{
            flex-basis: 100%;
            
            .menu-title{
                margin-bottom: 15px;
                h3{
                    font-size: 18px;
                    font-weight: 700;
                    position: relative;
                    padding-bottom: 4px;
                    &::before {
                        content: '';
                        width: 100%;
                        height: 3px;
                        background-color: @gold-patacona;
                        position: absolute;
                        left: 0%;
                        top: 110%;
                    }
                }
            }

            &.col-izq {
                flex-basis: 100%;
                margin-bottom: 20px;
                .brands-menu-holder {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;

                    ul{
                        flex-basis: 45%;
                        li {
                            margin-bottom: 3px;
                            a{
                                color:@black-patacona;
                                font-size: 16px;        
                                font-weight: 400;       
                            }
                        }
                    }
                }
            }

            &.col-der {
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                .contacto {
                    flex-basis: 100%;
                    margin-bottom: 20px;
                    a{
                        color: @black-patacona;
                    }
                }
                .mas-info {
                    flex-basis: 100%;
                    a{
                        color: @black-patacona;
                    }   

                    .rrss-holder {
                        margin-top: 12px;
                        a {
                            color: @gold-patacona;
                            font-size: 25px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    
    .bottom-text {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        p{
            color: @gold-patacona;
            margin-bottom: 10px;
        }

        a{
            color: @gold-patacona;
        }
    }
}

.solo-movil{
    display: block;
}
.solo-pc {
    display: none;
}



/*Default wordpress styles**/
.entry-content img {
	margin: 0 0 1.5em 0;
	}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.video-container{
    position: relative;
    max-width: 100%;
    min-width: 80%;
    padding-bottom:56.25%;
	padding-top:30px;
    margin: 0 auto;
}
.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.size-full {
    max-width: 100%;
    height: auto;
}
.size-large {
    max-width: 100%;
    height: auto;
}
.size-medium {
    max-width: 100%;
    height: auto;
}
.size-thumbnail {
    max-width: 100%;
    height: auto;
}