/************************************************************/

//						768px - max                         //

/************************************************************/

body{}

header{
	height: 132px;
	position: fixed;
}

.solo-movil{
	display: none;
}
.solo-pc {
	display: block;
}
