/************************************************************/

//                      992px - max                         //  

/************************************************************/




.solo-movil {
    display: none;
}
.solo-pc{
    display: block;
}

header#masthead {
    .main-navigation {
        display: block;
    }

    #burger {
        display: none;
    }
}

.main-container {
    &.home {
        .hero-header {
            .text-block {
                left: 10%;
                >* {
                    font-size: 24px;
                }

                h1 {
                    font-size: 48px;
                }
                h3{
                    font-size: 16px;
                }
            }
        }

        .our-brands {
            .brands-container-mobile {
                display: none;
            }
            .brands-container-desktop {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }

        .cta-boxes { 
            .cta-box {
                margin-bottom: 60px;
                .image-holder {
                    flex-basis: 50%;
                }
                .text-holder {
                    flex-basis: 50%;
                    .text-contianer {
                        position: absolute;
                        top: 50%;
                        transform: translate(0%, -50%);
                    }
                }
                &:nth-child(odd){
                    .image-holder{
                        order: 1;
                        top: 70px;
                    }
                    .text-holder {
                        order: 2;
                        .text-container {
                            left: -10%;
                        }
                    }
                } 
    
                &:nth-child(even){
                    .image-holder{
                        order: 2;
                        top: -25px;
                    }
                    .text-holder {
                        order: 1;
                        .text-container {
                            right: -10%;
                        }
                    }
                } 
            }
            
        }
    }

    &.conocenos {
        .hero-header {
            height: 400px;

            .text-block {
                font-size: 24px;
                h2{
                    font-size: 48px;
                }
            }
        }

        .main-text-container {
            .text-columns-holder {
                .text-col {
                    flex-basis: 40%;
                    &:first-of-type{
                        margin-bottom: 0;
                        margin-right: 5%;
                    }
                }
            }
        }

        .galery-container {
            padding: 60px;
        }
    }

    &.marca-archive, &.ocasion {
        .hero-header {
            height: 55vh;
            max-height: none;

            .text-block {
                font-size: 24px;
                h2{
                    font-size: 48px;
                }
            }

            .buttons-holder {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                .button {   
                    
                    
                    &:nth-child(even) {
                        margin-left: 4%;
                    }
                    &:nth-child(odd) {
                        margin-right: 4%;
                    }
                }
            }
        }

        .models-container {
            justify-content: flex-start;

            .model {
                flex-basis: 30%;

                &:nth-child(3n-1) {
                    margin-left: 5%;
                    margin-right: 5%;
                }
            }
        }
    }

    &.single-model {
        .model-info {
            .col {
                display: inline-block;
                vertical-align: top;
                width: 48%;
                
                &.col-images {
                    position: sticky;
                    top: 70px;
                    margin-bottom: 0;
                }

                &.col-info {
                    .main-product-info {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        .product-name {
                            h1 {
                                text-transform: uppercase;
                                font-size: 48px;
                                color: @black-patacona;
                                font-weight: 900;
                            }
                        }
                        .model-price-holder {
                            p {
                                font-size: 24px;
                                font-weight: 400;
                                color: @gold-patacona;
                            }
                        }
                    }

                    .contact-buttons-holder {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;

                        .button {
                            flex-basis: 45%;
                        }
                    }
                }

                &:nth-child(even) {
                    margin-left: 2%
                }   
                &:nth-child(odd) {
                    margin-right: 2%;
                }
            }
        }

        .model-gallery {
            margin-top: 150px;
            padding: 60px;
        }
    }

    &.blog {
        .hero-header {
            height: 45vh;
            .text-block {
                font-size: 24px;
                h1 {
                    font-size: 48px;
                }
            }
        }

        .news-holder {
            justify-content: flex-start;

            .post {
                flex-basis: 30%;
                &:nth-child(3n-1) {
                    margin-left: 5%;
                    margin-right: 5%;
                }
            }

            
        }
    }

    &.blog-post {
        .hero-header {
            .post-info-holder {
                padding: 60px;
                left: 5%;
                .title-holder {
                    font-size: 24px;
                }
            }
        }

        .post-content {
            margin: 170px auto;
        }
    }

    &.contacto, &.service {
        .hero-header {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 100px;
            .text-block {
                transform: none;
                position: static;
                width: 90%;
                max-width: 1200px;
                font-size: 24px;
                h1 {
                    font-size: 48px;                    
                }
            }
        }
        .contacto-info-container {
            justify-content: flex-start;
            .col {
                flex-basis: 48%;

                &.col-1 {
                    // padding: 30px 60px;
                    padding: 60px 60px;
                    .address-holder {
                        p {
                            color: #222222;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }

                &.col-2 {
                    .wpcf7 {
                        margin-top: 0;
                        .flex-holder {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            p{
                                width: 48%;
    
                                &:nth-child(even) {
                                    margin-left: 2%;
                                }
                                &:nth-child(odd) {
                                    margin-right: 2%;
                                }
                                &.full {
                                    width: 100%;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                }
                            }
                        }
                        .acceptsend {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p {
                                width: auto;
                                margin-bottom: 0px;
                                &:nth-child(2) {
                                    width: min-content;
                                }
                                .ajax-loader {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    margin-left: 2%;
                }
                &:nth-child(odd) {
                    margin-right: 2%;
                }
                p.txt {
                    color: #222222;
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &.service {
        .hero-header {
            .text-block {
                h1 {
                    color: #ffffff;
                    font-size: 48px;
                    font-weight: 900;
                    line-height: 48px;
                    text-transform: uppercase;
                }
                p {
                    color: #ffffff;
                    font-size: 24px;
                    font-weight: 400;
                }
            }
        }
        .contacto-info-container {
            justify-content: flex-start;
            .col {
                &.col-1 {
                    .address-holder {
                        p {
                        }
                    }
                }

                &.col-2 {
                    .wpcf7 {
                        .flex-holder {
                            p{
                                &:nth-child(even) {
                                    margin-left: 0%;
                                    margin-right: 2%;
                                }
                                &:nth-child(odd) {
                                    margin-left: 2%;
                                    margin-right: 0%;
                                }
                                &.full {
                                    width: 100%;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                }
                &:nth-child(odd) {
                }
                p.txt {
                }
            }
        }
    }
}

.pop-up--form {
    padding: 50px;
}

footer {
    .flex-holder {
        .col{
            flex-basis: 50%;
            &.col-izq {
                flex-basis: 25%;
                margin-bottom: 0;
            }

            &.col-der {
                flex-basis: 45%;

                .contacto {
                    flex-basis: 46%;
                    margin-bottom: 0;
                }

                .mas-info {
                    flex-basis: 46%;
                }
            }
        }
    }
    .bottom-text {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p{
            color: @gold-patacona;
            margin-bottom: 0;
        }

        a{
            color: @gold-patacona;
        }
    }
}