/************************************************************/

//						   Buttons                          //  

/************************************************************/
.Button{
	text-align: center;
	.font-size(1.6);
	text-decoration: none;
	display: inline-block;
	min-height: 46px;
	padding: 5px 15px;
	border: none;
	cursor: pointer;
	width: auto;
}