/************************************************************/

//						   Colours                          //  

/************************************************************/

// Basic
@white: #FFFFFF;
@black: #000000;

// Gray
@grey: #CCCCCC;
@grey2: #606468;

@blue: #00c4df;
@bluedark: #30aecb;
@bluedark2: #004eb5;

@orange: #ffad00;
@orange2:  #f4aa00;

@yellow: #F8AC15;
// Specific

// Validations
@red-validation: #FF0000;
@red: #FF0000;


@gold-patacona: #bfa41f;
@black-patacona: #222222;
@grey-patacona: #d3d3d3;