/************************************************************/

//						  Fuentes                           //  

/************************************************************/
// @font-face
// {
// 	font-family: MyFont, Arial, sans;
// 	src: url('../fonts/MyFont.ttf'),
// 	url('../fonts/MyFont.woff'),
// 	url('../fonts/MyFont.svg'),
// 	url('../fonts/MyFont.eot'); /* IE9 */
// }
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.heading-l{
	.font-size(2.2);
}
.heading-m{
	.font-size(2.0);	
}
.heading-s{
	.font-size(1.8);	
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-q94xj1');
	src:url('../fonts/icomoon.eot?#iefix-q94xj1') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-q94xj1') format('truetype'),
		url('../fonts/icomoon.woff?-q94xj1') format('woff'),
		url('../fonts/icomoon.svg?-q94xj1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
	content: "\e900";
}
.icon-arrow_left:before {
	content: "\e901";
}
.icon-arrow_right:before {
	content: "\e902";
}
.icon-arrow_up:before {
	content: "\e903";
}
.icon-cultivar:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-instagram:before {
	content: "\e906";
}
.icon-logo:before {
	content: "\e907";
}
.icon-menu:before {
	content: "\e908";
}
.icon-pinterest:before {
	content: "\e909";
}
.icon-twitter:before {
	content: "\e90a";
}