/************************************************************/

//						    Forms                           //  

/************************************************************/
.input-error{
	border: 1px solid @red-validation;
}
label{

}
input,textarea{
	border:none;
	max-width: 100%;
}