/************************************************************/

//	 			   	     Siroppe                        //  

/************************************************************/

// *********************** Imports *********************** //

// Reset
@import "reset.less";
// Normalize
//@import "normalize.css";
// Variables
@import "variables.less";
// Mixins
@import "mixins.less";
// Fuentes
@import "fonts.less";
// Colores
@import "colors.less";
// Botones
@import "buttons.less";
// Formularios
@import "forms.less";
// Sprites
@import "sprites.less";

// Bootstrap3 Grid
@import "bootstrap3-less/grid.less";
@import "bootstrap3-less/mixins/grid-framework.less";
@import "bootstrap3-less/mixins/grid.less";
@import "bootstrap3-less/mixins/bootstrap-ms-column-mixins.less";
@import "bootstrap3-less/mixins/clearfix.less";
@import "bootstrap3-less/mixins/image.less";
@import "bootstrap3-less/mixins/responsive-visibility.less";
@import "bootstrap3-less/responsive-utilities.less";

// Fondos para Bootstrap3 Grid. COMENTAR antes de subir a producción.
@import "bootstrap3-bgs.less";

// Debug para detectar posibles errores. COMENTAR antes de subir a producción.
//@import "debug.less";


// LESS Hat: http://lesshat.com/
@import "lesshat.less";

// Shortcodes
@import "shortcodes/sc_cookies_message.less";
//@import "shortcodes/sc_breadcrumb.less";

// KIKE - This Solves the png render problem on Chrome.
// http://superuser.com/questions/530317/how-to-prevent-chrome-from-blurring-small-images-when-zoomed-in
*{ 
image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

*{
    image-rendering: inherit;
}

/* Base styles */
//http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
html 
{
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body{
	.font-size(1.6);
    font-family: Arial,sans-serif;
}
html,body{
    height: 100%;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  .img-responsive();
}
.clearfix{
    .clearfix();
}

// ********************* Media queries ********************

// Impresión
@media print 
{
	@import "print.less";
}

// 0px - max
body{
    &::after{
        content: 'vSmart';
        display: none;
    }
}
.container,.container-fluid{
    max-width: 320px;
}
@import "320.less";

// 480px - max
@media only screen and (min-width: 480px)
{
	body{
        &::after{
            content: 'hSmart';
            display: none;
        }
    }
    .container,.container-fluid{  
        max-width: 480px;
    }
	@import "480.less";
}

// 768px - max
@media only screen and (min-width: 768px) 
{
	body{
        &::after{
            content: 'vTablet';
            display: none;
        }
    }
    .container,.container-fluid{
        max-width: 750px;
    }
	@import "768.less";
}

// 960px - max
@media only screen and (min-width: 992px) 
{
	body{
        &::after{
            content: 'Desktop';
            display: none;
        }
    }
    .container,.container-fluid{
        max-width: 970px;
    }
	@import "992.less";
}

// 1200px - max
@media only screen and (min-width: 1200px) 
{
    body{
        &::after{
            content: 'Desktop';
            display: none;
        }
    }
    .container,.container-fluid{     
        max-width: 1170px;
    }
    @import "1200.less";
}