/************************************************************/

//						  Sprites                           //  

/************************************************************/


.icon
{
	display: inline-block;
	//background-image: url('../img/sprite-320.svg');
}
.no-svg{
	.icon
	{
		display: inline-block;
		//background-image: url('../img/sprite-320.png');
	}
}

// 320px - 480px
@media only screen and (min-width: 480px) 
{
	.icon 
	{
	  //background-image: url('../img/sprite-480.svg');
	}
	.no-svg{
		.icon
		{
			display: inline-block;
			//background-image: url('../img/sprite-480.png');
		}
	}
}

// 768px - 992
@media only screen and (min-width: 768px) 
{
	.icon 
	{
	  //background-image: url('../img/sprite-768.svg');
	}
	.no-svg{
		.icon
		{
			display: inline-block;
			//background-image: url('../img/sprite-768.png');
		}
	}
}

// 992px - 1200
@media only screen and (min-width: 992px)
{
	.icon 
	{
	  //background-image: url('../img/sprite-992.svg');
	}
	.no-svg{
		.icon
		{
			display: inline-block;
			//background-image: url('../img/sprite-992.png');
		}
	}
}

// 1200
@media only screen and (min-width: 1200px)
{
	.icon 
	{
	  //background-image: url('../img/sprite-1200.svg');
	}
	.no-svg{
		.icon
		{
			display: inline-block;
			//background-image: url('../img/sprite-1200.png');
		}
	}
}