/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* 	apply a natural box layout model to all elements 
	http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.heading-l {
  font-size: 22px;
  font-size: 2.2rem;
}
.heading-m {
  font-size: 20px;
  font-size: 2rem;
}
.heading-s {
  font-size: 18px;
  font-size: 1.8rem;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-q94xj1');
  src: url('../fonts/icomoon.eot?#iefix-q94xj1') format('embedded-opentype'), url('../fonts/icomoon.ttf?-q94xj1') format('truetype'), url('../fonts/icomoon.woff?-q94xj1') format('woff'), url('../fonts/icomoon.svg?-q94xj1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow_down:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-arrow_up:before {
  content: "\e903";
}
.icon-cultivar:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-pinterest:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
.Button {
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  min-height: 46px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  width: auto;
}
/************************************************************/
/************************************************************/
.input-error {
  border: 1px solid #ff0000;
}
input,
textarea {
  border: none;
  max-width: 100%;
}
/************************************************************/
/************************************************************/
.icon {
  display: inline-block;
}
.no-svg .icon {
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .no-svg .icon {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .no-svg .icon {
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) {
  .no-svg .icon {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  .no-svg .icon {
    display: inline-block;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
@media (min-width: 768px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.row .row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*
	An extension of andyl's hack – https://gist.github.com/andyl/6360906
	in a mixin version.
*/
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
body {
  background: url('/img/bootstrap3-320px.png') repeat-y top center;
}
@media only screen and (min-width: 480px) {
  body {
    background: url('/img/bootstrap3-480px.png') repeat-y top center;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: url('/img/bootstrap3-750px.png') repeat-y top center;
  }
}
@media only screen and (min-width: 992px) {
  body {
    background: url('/img/bootstrap3-970px.png') repeat-y top center;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background: url('/img/bootstrap3-1170px.png') repeat-y top center;
  }
}
/************************************************************/
/************************************************************/
#cookieMessageWrapper {
  background: #cccccc;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 6;
  padding: 10px;
}
#cookieMessage {
  display: block;
  margin: 0 auto;
  max-width: 918px;
}
.txt_cookies {
  text-transform: none;
  font-size: 12px;
  font-size: 1.2rem;
}
.txt_cookies a:hover {
  background: transparent;
  text-decoration: underline;
}
#cookieClose {
  text-transform: lowercase;
  text-decoration: underline;
  cursor: pointer;
}
* {
  image-rendering: optimizeSpeed;
  /*                     */
  image-rendering: -moz-crisp-edges;
  /* Firefox             */
  image-rendering: -o-crisp-edges;
  /* Opera               */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and Safari) */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                */
}
* {
  image-rendering: inherit;
}
/* Base styles */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.img-responsive {
  display: block;
  width: 100%;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
@media print {
  /************************************************************/
  /************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  @page {
    margin: 0.5cm;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  pre,
  blockquote {
    border: 1px solid #cccccc;
    page-break-inside: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
}
body::after {
  content: 'vSmart';
  display: none;
}
.container,
.container-fluid {
  max-width: 320px;
}
/************************************************************/
/************************************************************/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #222222;
  overflow-x: hidden;
}
.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot {
  border: 1px solid #222222;
  border-radius: 50px;
  background: transparent;
  width: 16px;
  height: 16px;
  margin: 15px 3px;
  transition: 0.3s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #bfa41f;
  transition: 0.3s ease-in-out;
}
.owl-carousel .image-container {
  height: 100%;
  height: 300px;
  overflow: hidden;
}
.owl-carousel .image-container a {
  height: 100%;
  display: block;
}
.owl-carousel .image-container a img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.menu-brands-holder {
  display: none;
}
header#masthead {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}
header#masthead .site-branding svg {
  fill: #fff;
}
header#masthead .main-navigation {
  flex-basis: 65%;
  display: none;
}
header#masthead .main-navigation .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header#masthead .main-navigation .menu li {
  margin-right: 5%;
}
header#masthead .main-navigation .menu li a {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
header#masthead .main-navigation .menu li:last-of-type {
  margin-right: 0;
}
header#masthead .main-navigation .menu .brands-dropdown {
  position: relative;
  padding: 15px 0;
}
header#masthead .main-navigation .menu .brands-dropdown .menu-brands-holder {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222222;
  padding: 30px 15px;
  width: 130%;
  border-radius: 20px;
}
header#masthead .main-navigation .menu .brands-dropdown .menu-brands-holder li {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
header#masthead .main-navigation .menu .brands-dropdown .menu-brands-holder li img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
header#masthead .main-navigation .menu .brands-dropdown .menu-brands-holder li:last-child {
  margin-bottom: 0;
}
header#masthead #burger {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header#masthead #burger .bar {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 3px;
  background-color: white;
  margin-bottom: 3px;
  transition: 0.3s linear all;
}
header#masthead #burger .bar:nth-child(1) {
  transform: rotate(0deg);
}
header#masthead #burger .bar:nth-child(2) {
  transform: rotate(0deg);
}
header#masthead #burger .bar:nth-child(3) {
  display: block;
}
header#masthead #burger.open .bar {
  transition: 0.3s linear all;
}
header#masthead #burger.open .bar:nth-child(1) {
  transform: translateY(-50%) rotate(45deg);
  top: 15%;
}
header#masthead #burger.open .bar:nth-child(2) {
  transform: translateY(-50%) rotate(-45deg);
  top: -5%;
}
header#masthead #burger.open .bar:nth-child(3) {
  display: none;
}
header#masthead.black-menu .site-branding svg {
  fill: #222222;
}
header#masthead.black-menu .main-navigation .menu li a {
  color: #222222;
}
header#masthead.black-menu #burger .bar {
  background-color: #222222;
}
.menu-mobile-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #222222;
  z-index: 1000;
  transform: translateX(100%);
  transition: 0.3s linear all;
}
.menu-mobile-container #mobile-navigation {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 120px);
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container {
  padding: 40px 0;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu {
  height: auto;
  width: auto;
  margin: 0 auto;
  overflow: auto;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu li {
  margin-bottom: 15px;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu li a {
  color: white;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu li a img {
  max-width: 100px;
  height: auto;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu .menu-brands-holder ul {
  padding: 30px 10px;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu .menu-brands-holder ul li {
  margin-bottom: 20px;
}
.menu-mobile-container #mobile-navigation .menu-menu-principal-container ul.menu .menu-brands-holder ul li:last-child {
  margin-bottom: 0;
}
.menu-mobile-container.open {
  transform: translateX(0%);
  transition: 0.3s linear all;
}
.main-container.home .hero-header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.home .hero-header .text-block {
  position: absolute;
  left: 5%;
  bottom: 30%;
}
.main-container.home .hero-header .text-block > * {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}
.main-container.home .hero-header .text-block h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
}
.main-container.home .hero-header .text-block h3 {
  font-size: 16px;
  font-weight: 700;
  color: #bfa41f;
  text-transform: uppercase;
}
.main-container.home .hero-header .text-block .cta-button-holder a {
  background: #bfa41f;
  padding: 10px 35px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-container.home .our-brands {
  margin: 100px auto;
  max-width: 1200px;
  width: 90%;
}
.main-container.home .our-brands .intro-text {
  margin-bottom: 40px;
}
.main-container.home .our-brands .intro-text h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 8px;
}
.main-container.home .our-brands .intro-text h2::before {
  content: '';
  width: 75%;
  max-width: 140px;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 110%;
}
.main-container.home .our-brands .brands-container-desktop {
  display: none;
}
.main-container.home .our-brands .brand-box {
  flex-basis: 23%;
  margin: 2% 1%;
  margin-top: 0;
  height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.home .our-brands .brand-box .logo-holder {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container.home .our-brands .brand-box .link-holder {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
}
.main-container.home .our-brands .brand-box .link-holder a {
  background: #fff;
  padding: 10px 35px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-container.home .cta-boxes {
  margin-top: 120px;
}
.main-container.home .cta-boxes .cta-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.main-container.home .cta-boxes .cta-box .image-holder {
  position: relative;
  flex-basis: 100%;
}
.main-container.home .cta-boxes .cta-box .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.main-container.home .cta-boxes .cta-box .text-holder {
  flex-basis: 100%;
  position: relative;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container {
  background: #d3d3d3;
  padding: 30px;
  position: relative;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container h2 {
  font-size: 24px;
  font-weight: 700;
  display: inline;
  position: relative;
  padding-bottom: 8px;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container h2::before {
  content: '';
  width: 75%;
  max-width: 140px;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 110%;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container p {
  margin-top: 30px;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container .link-holder {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container .link-holder a {
  color: #bfa41f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 35px;
  position: relative;
}
.main-container.home .cta-boxes .cta-box .text-holder .text-container .link-holder a::after {
  content: '';
  width: 25px;
  height: 18px;
  background-image: url('../img/arrow.svg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
.main-container.conocenos .hero-header {
  height: 65vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.conocenos .hero-header .text-block {
  left: 5%;
  bottom: 35%;
  transform: translate(0%, 50%);
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}
.main-container.conocenos .hero-header .text-block h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-container.conocenos .main-text-container {
  margin: 75px auto;
  width: 90%;
  max-width: 1200px;
}
.main-container.conocenos .main-text-container .text-heading-holder {
  width: 65%;
  min-width: 280px;
}
.main-container.conocenos .main-text-container .text-heading-holder h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
}
.main-container.conocenos .main-text-container .text-heading-holder h2::before {
  content: '';
  width: 75%;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 110%;
}
.main-container.conocenos .main-text-container .text-columns-holder {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-container.conocenos .main-text-container .text-columns-holder .text-col {
  flex-basis: 100%;
}
.main-container.conocenos .main-text-container .text-columns-holder .text-col:first-of-type {
  margin-bottom: 5%;
}
.main-container.conocenos .galery-container {
  background-color: #d3d3d3;
  width: 100%;
  padding: 30px;
}
.main-container.conocenos .galery-container .gallery-holder {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-container.marca-archive .hero-header,
.main-container.ocasion .hero-header {
  height: 55vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.marca-archive .hero-header .text-block,
.main-container.ocasion .hero-header .text-block {
  left: 5%;
  bottom: 35%;
  transform: translate(0%, 50%);
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}
.main-container.marca-archive .hero-header .text-block h2,
.main-container.ocasion .hero-header .text-block h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-container.marca-archive .hero-header .buttons-holder,
.main-container.ocasion .hero-header .buttons-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-container.marca-archive .hero-header .buttons-holder .button,
.main-container.ocasion .hero-header .buttons-holder .button {
  flex-basis: 46%;
  max-width: 240px;
  background-color: #bfa41f;
  width: auto;
  min-width: 170px;
  padding: 10px 20px;
  position: relative;
  transform: translateY(50%);
  border: 2px solid transparent;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.main-container.marca-archive .hero-header .buttons-holder .button:hover,
.main-container.ocasion .hero-header .buttons-holder .button:hover {
  background-color: transparent;
  border: 2px solid #bfa41f;
  transition: 0.3s linear all;
}
.main-container.marca-archive .models-container,
.main-container.ocasion .models-container {
  width: 90%;
  max-width: 1200px;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-container.marca-archive .models-container .model,
.main-container.ocasion .models-container .model {
  flex-basis: 90%;
  margin-bottom: 60px;
}
.main-container.marca-archive .models-container .model .thumbnail-holder,
.main-container.ocasion .models-container .model .thumbnail-holder {
  width: 100%;
}
.main-container.marca-archive .models-container .model .thumbnail-holder img,
.main-container.ocasion .models-container .model .thumbnail-holder img {
  width: 100%;
  height: auto;
}
.main-container.marca-archive .models-container .model .info-container,
.main-container.ocasion .models-container .model .info-container {
  margin-top: 20px;
  background-color: #d3d3d3;
  text-align: center;
  padding: 40px 30px;
  padding-bottom: 0;
}
.main-container.marca-archive .models-container .model .info-container h2,
.main-container.ocasion .models-container .model .info-container h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.main-container.marca-archive .models-container .model .info-container .button-container,
.main-container.ocasion .models-container .model .info-container .button-container {
  background-color: #bfa41f;
  width: 55%;
  min-width: 150px;
  padding: 10px 20px;
  position: relative;
  margin: 0 auto;
  transform: translateY(50%);
}
.main-container.marca-archive .models-container .model .info-container .button-container p,
.main-container.ocasion .models-container .model .info-container .button-container p {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.main-container.marca-archive .hero-header {
  height: auto!important;
  min-height: 55vh;
}
.main-container.marca-archive .hero-header .text-block {
  padding-top: 100px;
  padding-bottom: 80px;
  transform: translate(0%, 0%);
  position: relative;
  width: 90%;
  max-width: 992px;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  bottom: 0;
  left: 5%;
}
.main-container.marca-archive .hero-header .text-block h2 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-container.marca-archive .hero-header .text-block .brand-description-container {
  margin-top: 30px;
  font-size: 18px;
}
.main-container.marca-archive .hero-header .text-block .brand-description-container > * {
  margin-top: 10px;
}
.main-container.single-model {
  padding-top: 120px;
}
.main-container.single-model .model-info {
  display: block;
  font-size: 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-container.single-model .model-info .col {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
}
.main-container.single-model .model-info .col.col-images {
  margin-bottom: 35px;
}
.main-container.single-model .model-info .col.col-images .color-gallery {
  display: none;
}
.main-container.single-model .model-info .col.col-images .owl-thumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container.single-model .model-info .col.col-images .owl-thumbs .owl-thumb-item {
  width: 70px;
  height: auto;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.main-container.single-model .model-info .col.col-images .owl-thumbs .owl-thumb-item img {
  display: block;
  width: 100%;
  height: auto;
}
.main-container.single-model .model-info .col.col-images .owl-thumbs .owl-thumb-item.active {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.main-container.single-model .model-info .col.col-info .main-product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.main-container.single-model .model-info .col.col-info .main-product-info .colors {
  flex-basis: 100%;
  display: flex;
  margin-top: 15px;
}
.main-container.single-model .model-info .col.col-info .main-product-info .colors .box {
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container.single-model .model-info .col.col-info .main-product-info .colors .box.desactive {
  border-color: #d3d3d3 !important;
}
.main-container.single-model .model-info .col.col-info .main-product-info .colors .box .box-content {
  width: 30px;
  height: 30px;
}
.main-container.single-model .model-info .col.col-info .main-product-info .product-name h1 {
  text-transform: uppercase;
  font-size: 38px;
  color: #222222;
  font-weight: 900;
}
.main-container.single-model .model-info .col.col-info .main-product-info .model-price-holder p {
  font-size: 20px;
  font-weight: 400;
  color: #bfa41f;
  display: none;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property {
  margin-bottom: 15px;
  cursor: pointer;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property {
  padding: 15px 20px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property .plus-minus-toggle {
  position: relative;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property .plus-minus-toggle::after {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: rotate(0deg);
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property .plus-minus-toggle::before {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: rotate(0deg);
  transition: 0.3s ease-in;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property .plus-minus-toggle.collapsed::after {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: rotate(0deg);
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .title-property .plus-minus-toggle.collapsed::before {
  content: '';
  width: 16px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: rotate(90deg);
  transition: 0.3s ease-in;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content {
  display: none;
  padding-top: 0;
  overflow: hidden;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content .row-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 15px;
  padding-bottom: 13px;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content .row-value p:first-child {
  font-weight: 700;
  text-align: left;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content .row-value p:last-child {
  text-align: right;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content .row-value:first-child {
  padding-top: 13px;
}
.main-container.single-model .model-info .col.col-info .container-property .row-property .dynamic-content.open {
  height: auto;
  padding-bottom: 15px;
}
.main-container.single-model .model-info .col.col-info .legal-disclaimer-holder {
  font-size: 14px;
  font-weight: 400;
}
.main-container.single-model .model-info .col.col-info .contact-buttons-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
}
.main-container.single-model .model-info .col.col-info .contact-buttons-holder .button {
  cursor: pointer;
  padding: 15px 30px;
  background-color: #bfa41f;
  border: 2px solid #bfa41f;
  color: white;
  transition: 0.3s linear all;
  flex-basis: 100%;
  margin-bottom: 10px;
}
.main-container.single-model .model-info .col.col-info .contact-buttons-holder .button:hover {
  background-color: white;
  color: #bfa41f;
  transition: 0.3s linear all;
}
.main-container.single-model .model-info .col.col-info .contact-buttons-holder .button p {
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-container.single-model .model-gallery {
  margin-top: 100px;
  background-color: #d3d3d3;
  width: 100%;
  padding: 30px;
}
.main-container.single-model .model-gallery .gallery {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-container.single-model .model-gallery .gallery .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container.single-model .model-gallery .gallery .owl-dots .owl-dot {
  border: 1px solid #222222;
  border-radius: 50px;
  background: transparent;
  width: 16px;
  height: 16px;
  margin: 15px 3px;
  transition: 0.3s ease-in-out;
}
.main-container.single-model .model-gallery .gallery .owl-dots .owl-dot.active {
  background: #bfa41f;
  transition: 0.3s ease-in-out;
}
.main-container.single-model .related-models {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
}
.main-container.single-model .related-models .related-models-title {
  margin-bottom: 35px;
}
.main-container.single-model .related-models .related-models-title h3 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.main-container.single-model .related-models .related-models-title h3::before {
  content: '';
  width: 75%;
  max-width: 140px;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 110%;
}
.main-container.single-model .related-models .related-models-gallery .model .thumbnail-holder {
  width: 100%;
}
.main-container.single-model .related-models .related-models-gallery .model .thumbnail-holder img {
  width: 100%;
  height: auto;
}
.main-container.single-model .related-models .related-models-gallery .model .info-container {
  margin-top: 20px;
  background-color: #d3d3d3;
  text-align: center;
  padding: 40px 30px;
  padding-bottom: 0;
  margin-bottom: 35px;
}
.main-container.single-model .related-models .related-models-gallery .model .info-container h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.main-container.single-model .related-models .related-models-gallery .model .info-container .button-container {
  background-color: #bfa41f;
  width: 55%;
  min-width: 150px;
  padding: 10px 20px;
  position: relative;
  margin: 0 auto;
  transform: translateY(50%);
}
.main-container.single-model .related-models .related-models-gallery .model .info-container .button-container p {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.main-container.single-model .related-models .related-models-gallery .model:nth-child(3n-1) {
  margin-left: 5%;
  margin-right: 5%;
}
.main-container.single-model .related-models .related-models-gallery .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container.single-model .related-models .related-models-gallery .owl-dots .owl-dot {
  border: 1px solid #222222;
  border-radius: 50px;
  background: transparent;
  width: 16px;
  height: 16px;
  margin: 15px 3px;
  transition: 0.3s ease-in-out;
}
.main-container.single-model .related-models .related-models-gallery .owl-dots .owl-dot.active {
  background: #bfa41f;
  transition: 0.3s ease-in-out;
}
.main-container.ocasion .hero-header {
  height: 80vh;
  max-height: 520px;
}
.main-container.blog .hero-header {
  height: 55vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.blog .hero-header .text-block {
  left: 5%;
  bottom: 35%;
  transform: translate(0%, 50%);
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}
.main-container.blog .hero-header .text-block h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-container.blog .news-holder {
  margin: 75px auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-container.blog .news-holder .post {
  flex-basis: 90%;
  color: #222222;
  position: relative;
}
.main-container.blog .news-holder .post .post-thumbnail {
  width: 100%;
  height: 40vh;
  max-height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container.blog .news-holder .post .post-excerpt-holder {
  width: 90%;
  padding: 30px 15px;
  background: #d3d3d3;
  position: relative;
  transform: translateY(-50%);
  margin: 0 auto;
}
.main-container.blog .news-holder .post .arrow {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 25px;
  height: auto;
  display: block;
}
.main-container.blog-post .hero-header {
  height: 45vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.blog-post .hero-header .post-info-holder {
  background-color: #d3d3d3;
  position: absolute;
  bottom: 0%;
  left: 2%;
  transform: translate(0%, 50%);
  padding: 30px;
}
.main-container.blog-post .hero-header .post-info-holder .title-holder {
  font-size: 20px;
  font-weight: 700;
}
.main-container.blog-post .hero-header .post-info-holder .date-holder {
  font-size: 16px;
  font-weight: 400;
  color: #bfa41f;
}
.main-container.blog-post .post-content {
  max-width: 1200px;
  width: 90%;
  margin: 120px auto;
}
.main-container.blog-post .post-content > * {
  margin-top: 10px;
}
.main-container.blog-post .navegacion {
  clear: both;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-container.blog-post .navegacion a {
  flex-basis: 48%;
}
.main-container.blog-post .navegacion a .nav-bttn {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #bfa41f;
  border: 2px solid #bfa41f;
  color: white;
  transition: 0.3s linear all;
}
.main-container.blog-post .navegacion a .nav-bttn:hover {
  background-color: white;
  color: #bfa41f;
  transition: 0.3s linear all;
}
.main-container.blog-post .navegacion a .nav-bttn p {
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-container.blog-post .navegacion a:first-of-type {
  margin-right: 2%;
}
.main-container.blog-post .navegacion a:last-of-type {
  margin-left: 2%;
}
.main-container.contacto .hero-header,
.main-container.service .hero-header {
  height: 55vh;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-container.contacto .hero-header .text-block,
.main-container.service .hero-header .text-block {
  left: 5%;
  bottom: 35%;
  transform: translate(0%, 50%);
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 1.2;
}
.main-container.contacto .hero-header .text-block h1,
.main-container.service .hero-header .text-block h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 8px;
}
.main-container.contacto .contacto-info-container,
.main-container.service .contacto-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 70px auto;
}
.main-container.contacto .contacto-info-container .col,
.main-container.service .contacto-info-container .col {
  flex-basis: 95%;
}
.main-container.contacto .contacto-info-container .col.col-1,
.main-container.service .contacto-info-container .col.col-1 {
  padding: 30px;
  background-color: #d3d3d3;
}
.main-container.contacto .contacto-info-container .col.col-1 .text-heading-holder h2,
.main-container.service .contacto-info-container .col.col-1 .text-heading-holder h2 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 8px;
}
.main-container.contacto .contacto-info-container .col.col-1 .text-heading-holder h2::before,
.main-container.service .contacto-info-container .col.col-1 .text-heading-holder h2::before {
  content: '';
  width: 75%;
  max-width: 130px;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 100%;
}
.main-container.contacto .contacto-info-container .col.col-1 .address-holder,
.main-container.service .contacto-info-container .col.col-1 .address-holder {
  margin-top: 40px;
  font-weight: 700;
}
.main-container.contacto .contacto-info-container .col.col-1 .address-holder a,
.main-container.service .contacto-info-container .col.col-1 .address-holder a {
  font-weight: 700;
  color: #222222;
}
.main-container.contacto .contacto-info-container .col.col-1 .address-holder .rrss-holder,
.main-container.service .contacto-info-container .col.col-1 .address-holder .rrss-holder {
  margin-top: 25px;
}
.main-container.contacto .contacto-info-container .col.col-1 .address-holder .rrss-holder a,
.main-container.service .contacto-info-container .col.col-1 .address-holder .rrss-holder a {
  color: #bfa41f;
  font-size: 25px;
  margin-right: 10px;
  font-weight: 400;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 {
  margin-top: 50px;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p {
  width: 100%;
  margin-bottom: 4%;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p input,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p input,
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p textarea,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p textarea {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 15px;
  border: 1px solid #d3d3d3;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  border-radius: 0;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p input::placeholder,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p input::placeholder,
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p textarea::placeholder,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  opacity: 0.7;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 p input[type="submit"],
.main-container.service .contacto-info-container .col.col-2 .wpcf7 p input[type="submit"] {
  background-color: #bfa41f;
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 195px;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder p,
.main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p {
  width: 100%;
}
.main-container.contacto input[type="checkbox"],
.main-container.service input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
}
.main-container.contacto span.wpcf7-list-item,
.main-container.service span.wpcf7-list-item {
  margin-left: 0px;
}
.main-container.contacto span.wpcf7-list-item label,
.main-container.service span.wpcf7-list-item label {
  display: flex;
  align-items: center;
}
.main-container.contacto span.wpcf7-list-item label input,
.main-container.service span.wpcf7-list-item label input {
  width: auto !important;
  margin-bottom: 2px;
  margin-right: 5px;
}
.main-container.contacto span.wpcf7-list-item label span,
.main-container.service span.wpcf7-list-item label span {
  display: block;
  opacity: 0.5;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
}
.transparencia {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s ease;
}
.transparencia.active {
  z-index: 900;
  opacity: 1;
  visibility: visible;
}
.pop-up--form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  padding: 30px;
  width: 100%;
  max-width: 560px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear all;
}
.pop-up--form.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear all;
}
.pop-up--form .cross {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.pop-up--form form {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px;
}
.pop-up--form form::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)*/
  border-radius: 0;
  background-color: #d3d3d3;
}
.pop-up--form form::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}
.pop-up--form form::-webkit-scrollbar:horizontal {
  height: 0;
}
.pop-up--form form::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfa41f;
}
.pop-up--form form p {
  width: 100%;
  margin-bottom: 12px;
}
.pop-up--form form p input,
.pop-up--form form p textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid #d3d3d3;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.pop-up--form form p input::placeholder,
.pop-up--form form p textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.pop-up--form form p input[name="model"] {
  display: none;
}
.pop-up--form form p input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  background-color: #bfa41f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.pop-up--form form #file-upload {
  display: none;
}
.pop-up--form .wpcf7-acceptance input[type="checkbox"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
}
.pop-up--form .wpcf7-acceptance input[type="checkbox"] + .wpcf7-list-item-label::after {
  content: none;
}
.pop-up--form .wpcf7-acceptance input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
  content: "";
}
.pop-up--form .wpcf7-acceptance .wpcf7-list-item-label {
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
  color: #222222;
}
.pop-up--form .wpcf7-acceptance .wpcf7-list-item-label a {
  color: #bfa41f;
}
.pop-up--form .wpcf7-acceptance .wpcf7-list-item-label::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid;
  position: absolute;
  top: 3px;
  left: -20px;
}
.pop-up--form .wpcf7-acceptance .wpcf7-list-item-label::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  position: absolute;
  top: 7px;
  left: -17px;
  transform: rotate(-45deg);
}
.pop-up--form .fake-file-upload {
  padding: 15px;
  width: 100%;
  border: 1px solid #d3d3d3;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
}
.pop-up--form .fake-file-upload p {
  margin: 0;
  margin-left: 5%;
}
.pop-up--form .fake-file-upload::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  background-image: url(../img/upload-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.pop-up--form .acceptance {
  margin-top: 10px;
}
.pop-up--form .acceptance .check-container {
  text-align: left;
  display: block;
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  color: #222222;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pop-up--form .acceptance .check-container a {
  text-decoration: underline;
  color: #bfa41f;
}
.pop-up--form .acceptance .check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.pop-up--form .acceptance .check-container input:checked ~ .checkmark {
  background-color: transparent;
}
.pop-up--form .acceptance .check-container input:checked ~ .checkmark:after {
  display: block;
}
.pop-up--form .acceptance .check-container .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 13px;
  transition: all 0.5s ease;
  border-radius: 0;
  width: 13px;
  background-color: transparent;
  border: 1px solid #222222;
}
.pop-up--form .acceptance .check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.pop-up--form .acceptance .check-container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 9px;
  border: solid #222222;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pop-up--form .wpcf7-response-output {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
footer {
  margin-top: 90px;
  padding: 20px 40px;
}
footer .flex-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .flex-holder .col {
  flex-basis: 100%;
}
footer .flex-holder .col .menu-title {
  margin-bottom: 15px;
}
footer .flex-holder .col .menu-title h3 {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding-bottom: 4px;
}
footer .flex-holder .col .menu-title h3::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #bfa41f;
  position: absolute;
  left: 0%;
  top: 110%;
}
footer .flex-holder .col.col-izq {
  flex-basis: 100%;
  margin-bottom: 20px;
}
footer .flex-holder .col.col-izq .brands-menu-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .flex-holder .col.col-izq .brands-menu-holder ul {
  flex-basis: 45%;
}
footer .flex-holder .col.col-izq .brands-menu-holder ul li {
  margin-bottom: 3px;
}
footer .flex-holder .col.col-izq .brands-menu-holder ul li a {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}
footer .flex-holder .col.col-der {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .flex-holder .col.col-der .contacto {
  flex-basis: 100%;
  margin-bottom: 20px;
}
footer .flex-holder .col.col-der .contacto a {
  color: #222222;
}
footer .flex-holder .col.col-der .mas-info {
  flex-basis: 100%;
}
footer .flex-holder .col.col-der .mas-info a {
  color: #222222;
}
footer .flex-holder .col.col-der .mas-info .rrss-holder {
  margin-top: 12px;
}
footer .flex-holder .col.col-der .mas-info .rrss-holder a {
  color: #bfa41f;
  font-size: 25px;
  margin-right: 10px;
}
footer .bottom-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .bottom-text p {
  color: #bfa41f;
  margin-bottom: 10px;
}
footer .bottom-text a {
  color: #bfa41f;
}
.solo-movil {
  display: block;
}
.solo-pc {
  display: none;
}
/*Default wordpress styles**/
.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.alignnone,
img.alignnone {
  /* not sure about this one */
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
.video-container {
  position: relative;
  max-width: 100%;
  min-width: 80%;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin: 0 auto;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.size-full {
  max-width: 100%;
  height: auto;
}
.size-large {
  max-width: 100%;
  height: auto;
}
.size-medium {
  max-width: 100%;
  height: auto;
}
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 480px) {
  body::after {
    content: 'hSmart';
    display: none;
  }
  .container,
  .container-fluid {
    max-width: 480px;
  }
  /************************************************************/
  /************************************************************/
}
@media only screen and (min-width: 768px) {
  body::after {
    content: 'vTablet';
    display: none;
  }
  .container,
  .container-fluid {
    max-width: 750px;
  }
  /************************************************************/
  /************************************************************/
  header {
    height: 132px;
    position: fixed;
  }
  .solo-movil {
    display: none;
  }
  .solo-pc {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  body::after {
    content: 'Desktop';
    display: none;
  }
  .container,
  .container-fluid {
    max-width: 970px;
  }
  /************************************************************/
  /************************************************************/
  .solo-movil {
    display: none;
  }
  .solo-pc {
    display: block;
  }
  header#masthead .main-navigation {
    display: block;
  }
  header#masthead #burger {
    display: none;
  }
  .main-container.home .hero-header .text-block {
    left: 10%;
  }
  .main-container.home .hero-header .text-block > * {
    font-size: 24px;
  }
  .main-container.home .hero-header .text-block h1 {
    font-size: 48px;
  }
  .main-container.home .hero-header .text-block h3 {
    font-size: 16px;
  }
  .main-container.home .our-brands .brands-container-mobile {
    display: none;
  }
  .main-container.home .our-brands .brands-container-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .main-container.home .cta-boxes .cta-box {
    margin-bottom: 60px;
  }
  .main-container.home .cta-boxes .cta-box .image-holder {
    flex-basis: 50%;
  }
  .main-container.home .cta-boxes .cta-box .text-holder {
    flex-basis: 50%;
  }
  .main-container.home .cta-boxes .cta-box .text-holder .text-contianer {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .main-container.home .cta-boxes .cta-box:nth-child(odd) .image-holder {
    order: 1;
    top: 70px;
  }
  .main-container.home .cta-boxes .cta-box:nth-child(odd) .text-holder {
    order: 2;
  }
  .main-container.home .cta-boxes .cta-box:nth-child(odd) .text-holder .text-container {
    left: -10%;
  }
  .main-container.home .cta-boxes .cta-box:nth-child(even) .image-holder {
    order: 2;
    top: -25px;
  }
  .main-container.home .cta-boxes .cta-box:nth-child(even) .text-holder {
    order: 1;
  }
  .main-container.home .cta-boxes .cta-box:nth-child(even) .text-holder .text-container {
    right: -10%;
  }
  .main-container.conocenos .hero-header {
    height: 400px;
  }
  .main-container.conocenos .hero-header .text-block {
    font-size: 24px;
  }
  .main-container.conocenos .hero-header .text-block h2 {
    font-size: 48px;
  }
  .main-container.conocenos .main-text-container .text-columns-holder .text-col {
    flex-basis: 40%;
  }
  .main-container.conocenos .main-text-container .text-columns-holder .text-col:first-of-type {
    margin-bottom: 0;
    margin-right: 5%;
  }
  .main-container.conocenos .galery-container {
    padding: 60px;
  }
  .main-container.marca-archive .hero-header,
  .main-container.ocasion .hero-header {
    height: 55vh;
    max-height: none;
  }
  .main-container.marca-archive .hero-header .text-block,
  .main-container.ocasion .hero-header .text-block {
    font-size: 24px;
  }
  .main-container.marca-archive .hero-header .text-block h2,
  .main-container.ocasion .hero-header .text-block h2 {
    font-size: 48px;
  }
  .main-container.marca-archive .hero-header .buttons-holder,
  .main-container.ocasion .hero-header .buttons-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .main-container.marca-archive .hero-header .buttons-holder .button:nth-child(even),
  .main-container.ocasion .hero-header .buttons-holder .button:nth-child(even) {
    margin-left: 4%;
  }
  .main-container.marca-archive .hero-header .buttons-holder .button:nth-child(odd),
  .main-container.ocasion .hero-header .buttons-holder .button:nth-child(odd) {
    margin-right: 4%;
  }
  .main-container.marca-archive .models-container,
  .main-container.ocasion .models-container {
    justify-content: flex-start;
  }
  .main-container.marca-archive .models-container .model,
  .main-container.ocasion .models-container .model {
    flex-basis: 30%;
  }
  .main-container.marca-archive .models-container .model:nth-child(3n-1),
  .main-container.ocasion .models-container .model:nth-child(3n-1) {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-container.single-model .model-info .col {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .main-container.single-model .model-info .col.col-images {
    position: sticky;
    top: 70px;
    margin-bottom: 0;
  }
  .main-container.single-model .model-info .col.col-info .main-product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-container.single-model .model-info .col.col-info .main-product-info .product-name h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: #222222;
    font-weight: 900;
  }
  .main-container.single-model .model-info .col.col-info .main-product-info .model-price-holder p {
    font-size: 24px;
    font-weight: 400;
    color: #bfa41f;
  }
  .main-container.single-model .model-info .col.col-info .contact-buttons-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .main-container.single-model .model-info .col.col-info .contact-buttons-holder .button {
    flex-basis: 45%;
  }
  .main-container.single-model .model-info .col:nth-child(even) {
    margin-left: 2%;
  }
  .main-container.single-model .model-info .col:nth-child(odd) {
    margin-right: 2%;
  }
  .main-container.single-model .model-gallery {
    margin-top: 150px;
    padding: 60px;
  }
  .main-container.blog .hero-header {
    height: 45vh;
  }
  .main-container.blog .hero-header .text-block {
    font-size: 24px;
  }
  .main-container.blog .hero-header .text-block h1 {
    font-size: 48px;
  }
  .main-container.blog .news-holder {
    justify-content: flex-start;
  }
  .main-container.blog .news-holder .post {
    flex-basis: 30%;
  }
  .main-container.blog .news-holder .post:nth-child(3n-1) {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-container.blog-post .hero-header .post-info-holder {
    padding: 60px;
    left: 5%;
  }
  .main-container.blog-post .hero-header .post-info-holder .title-holder {
    font-size: 24px;
  }
  .main-container.blog-post .post-content {
    margin: 170px auto;
  }
  .main-container.contacto .hero-header,
  .main-container.service .hero-header {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }
  .main-container.contacto .hero-header .text-block,
  .main-container.service .hero-header .text-block {
    transform: none;
    position: static;
    width: 90%;
    max-width: 1200px;
    font-size: 24px;
  }
  .main-container.contacto .hero-header .text-block h1,
  .main-container.service .hero-header .text-block h1 {
    font-size: 48px;
  }
  .main-container.contacto .contacto-info-container,
  .main-container.service .contacto-info-container {
    justify-content: flex-start;
  }
  .main-container.contacto .contacto-info-container .col,
  .main-container.service .contacto-info-container .col {
    flex-basis: 48%;
  }
  .main-container.contacto .contacto-info-container .col.col-1,
  .main-container.service .contacto-info-container .col.col-1 {
    padding: 60px 60px;
  }
  .main-container.contacto .contacto-info-container .col.col-1 .address-holder p,
  .main-container.service .contacto-info-container .col.col-1 .address-holder p {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 {
    margin-top: 0;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder p,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p {
    width: 48%;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(even),
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(even) {
    margin-left: 2%;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(odd),
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(odd) {
    margin-right: 2%;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .flex-holder p.full,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p.full {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .acceptsend,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .acceptsend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .acceptsend p,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .acceptsend p {
    width: auto;
    margin-bottom: 0px;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .acceptsend p:nth-child(2),
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .acceptsend p:nth-child(2) {
    width: min-content;
  }
  .main-container.contacto .contacto-info-container .col.col-2 .wpcf7 .acceptsend p .ajax-loader,
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .acceptsend p .ajax-loader {
    display: none;
  }
  .main-container.contacto .contacto-info-container .col:nth-child(even),
  .main-container.service .contacto-info-container .col:nth-child(even) {
    margin-left: 2%;
  }
  .main-container.contacto .contacto-info-container .col:nth-child(odd),
  .main-container.service .contacto-info-container .col:nth-child(odd) {
    margin-right: 2%;
  }
  .main-container.contacto .contacto-info-container .col p.txt,
  .main-container.service .contacto-info-container .col p.txt {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .main-container.service .hero-header .text-block h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
  }
  .main-container.service .hero-header .text-block p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
  }
  .main-container.service .contacto-info-container {
    justify-content: flex-start;
  }
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(even) {
    margin-left: 0%;
    margin-right: 2%;
  }
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p:nth-child(odd) {
    margin-left: 2%;
    margin-right: 0%;
  }
  .main-container.service .contacto-info-container .col.col-2 .wpcf7 .flex-holder p.full {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .pop-up--form {
    padding: 50px;
  }
  footer .flex-holder .col {
    flex-basis: 50%;
  }
  footer .flex-holder .col.col-izq {
    flex-basis: 25%;
    margin-bottom: 0;
  }
  footer .flex-holder .col.col-der {
    flex-basis: 45%;
  }
  footer .flex-holder .col.col-der .contacto {
    flex-basis: 46%;
    margin-bottom: 0;
  }
  footer .flex-holder .col.col-der .mas-info {
    flex-basis: 46%;
  }
  footer .bottom-text {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .bottom-text p {
    color: #bfa41f;
    margin-bottom: 0;
  }
  footer .bottom-text a {
    color: #bfa41f;
  }
}
@media only screen and (min-width: 1200px) {
  body::after {
    content: 'Desktop';
    display: none;
  }
  .container,
  .container-fluid {
    max-width: 1170px;
  }
  /************************************************************/
  /************************************************************/
}
