/************************************************************/

//					    Breadcrumb                          //  

/************************************************************/
.Breadcrumbs{
	.make-row();
}
.Breadcrumbs-container{
	.make-xs-column(12);
}
.Breadcrumb-element{
	display: inline-block;
	vertical-align: top;
	&+.Breadcrumb-element:before{
		content:">";
		margin-right: 5px;
	}
}
	