/************************************************************/

//		 		    Cookies Message                         //  

/************************************************************/
#cookieMessageWrapper{
	background: @grey;
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 6;
	padding: 10px;
}
#cookieMessage{
	display: block;
	margin: 0 auto;
	max-width: 918px;
}
.txt_cookies{
	text-transform: none;
	.font-size(1.2);
	a{
		&:hover{
			background: transparent;
			text-decoration: underline;
		}
	}
}
#cookieClose{
	text-transform: lowercase;
	text-decoration: underline;
	cursor: pointer;
}